html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/GilroyBold.eot');
	src: local('Gilroy A Bold'), local('Gilroy-A-Bold'),
		url('../fonts/GilroyBold.woff2') format('woff2'),
    url('../fonts/GilroyBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoRegular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('./fonts/RobotoRegular.woff2') format('woff2'),
    url('./fonts/RobotoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoMedium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./fonts/RobotoMedium.woff2') format('woff2'),
    url('./fonts/RobotoMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-width: 1200px;
  background-color: #b0d1dd;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  margin-bottom: 40px;
}

.section:nth-child(2n-1) {
  padding-right: 30px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  color: #02254b;
}

/* glob */

.header {
  background-color: #02254b;
  padding: 20px 0;
  margin-bottom: 40px;
}

.header_nav {
  max-width: 1440px;
  margin: 0 auto;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  color: #b0d1dd;
  transition: 0.3s all;
  outline:none
}

.nav_link:hover {
  color: #66aaf4;
}

.nav_item:not(:last-child) {
  padding-right: 50px;
}

.about-me_title {
  font-family: 'Gilroy', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  color: #02254b;
}

.contacts_item:not(:last-child) {
  padding-bottom: 20px;
}

.contacts_title {
  margin-bottom: 40px;
}

.contacts_link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  color: #323232;
  transition: 0.3s all;
  outline:none
}

.contacts_link:hover {
  color: #02254b;
}

.skills_title {
  margin-bottom: 40px;
}

.skills_item {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  color: #323232;
}

.skills_item:not(:last-child) {
  padding-bottom: 20px;
}

.skills_item-uppercase {
  font-weight: 700;
  text-transform: uppercase;
  color: #011830;
}

.code-example_title {
  margin-bottom: 40px;
}

.code-example_descr {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  color: #323232;
}

.code-example_wrapper {
  overflow: auto;
  width: 300px;
  height: 300px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 2px solid #02254b;
}

.projects_title {
  margin-bottom: 40px;
}

.projects_item:not(:last-child) {
  padding-bottom: 20px;
}

.projects_link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  color: #323232;
  transition: 0.3s all;
  outline:none
}

.projects_link:hover {
  color: #02254b;
}

.education_title {
  margin-bottom: 40px;
}

.education_item {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  color: #323232;
}

.education_item:not(:last-child) {
  padding-bottom: 20px;
}

.footer {
  background-color: #02254b;
  padding: 20px 0;
}

.footer_content {
  max-width: 1440px;
  margin: 0 auto;
}

.footer_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_item {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  color: #b0d1dd;
}

.footer_link {
  outline: none;

}

.footer_item:not(:last-child) {
  padding-right: 70px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  .section:nth-child(2n-1) {
    padding-right: 0;
  }

}
